*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Poppins", sans-serif;
    color: #121212;
}

.row { display: flex; flex-wrap: wrap; justify-content: center; box-sizing: border-box; }

h1,h2,h3,h4,h5,h6,p { margin: 0;}

h1 { font-size: 36px;font-size: 700; }
h2 { font-size: 32px; font-weight: 600; line-height: 36px; }
h3 { font-size: 26px; font-weight: 500; line-height: 30px; }
h4 { font-size: 24px; font-weight: 400; margin: 10px 5px; line-height: 26px; }
p { font-size: 16px; margin: 15px 10px; line-height:25px;}

a,a:active,a:focus,button { text-decoration: none; outline: 0;}

/* header section start */

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: #fff;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.1);
    padding: 10px 8%;
    align-items: center;
    z-index: 1000;
}

.header-icon {
    width: 50px;
    position: relative;
    display: inline-block;
    top: 5px;
    margin-top:-5px ;
}
.header-icon .header-icon-hover{
    width: 50px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.header-icon:hover .header-icon-hover{
    display: inline;
}

.close-icon img { 
    margin: 5px 5px 2.5px;
    border-radius: 100%;
}

.header .logo{
    width: 600px;
    display: flex;
    margin-right: auto;
    color: #444;
    font-weight: bolder;
}

.header .navbar{
    float: left;
    position: relative;
}
.navbar-links{
    display: flex;
}
.navbar li a {
    display: block;
    color: #444;
    padding: 15px 10px;
    font-weight: 600;
    transition: 0.4s all;
}

.navbar .navbar-dropdown {
    position: relative;
}
.navbar-dropdown .dropdown {
    border: 2px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 0;
    top: 100%;
    transform: translateY(50px);
    left: 0;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 10px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0px 30px;
    z-index: 111;
    transition: 0.4s all;
}

.navbar-dropdown:hover .dropdown{
    visibility: visible;
    opacity: 1;
    transform: translateY(5px);
}
.dropdown a{
    padding: 10px auto;
    font-weight: 400;
}

.dropdown a:hover{
    padding-left: 30px;
}

.dropdown2{
    top: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 20px 0;
    /* transform: translateY(50px); */
    left: 200px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0px 25px;
    z-index: 111;
    transition: 0.5s all;
}

.dropdown li:hover .dropdown2 { 
    visibility: visible;
    opacity: 1;
    transform: translateY(5x);
}
.dropdown2 ul {
    top: -.5em; left: 100%;
    font-size: 1em
   }
.dropdown2 li {
    padding: .2em 1.5em;
    font-size: .9rem;
}

.header .navbar #close-navbar{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #444;
    display: none;
}

.header .navbar a{
    margin-right: 2rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: #444;
}

.header .navbar a:hover{
    color: #4570e7;
    box-shadow: 0 0.2rem 0rem;
}

.header .icons div{
    cursor: pointer;
    font-size: 2.5rem;
    color: #444;
    margin-left: 1.5rem;
}

.header .icons div:hover{
    color: #0eb582;
}

.header #menu-btn{
    display: none;
}


/* login section */

.account-form{
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    background: #fff;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    text-align: center;
}

.account-form.active{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}

.account-form #close-form{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 4rem;
    cursor: pointer;
    color: #444;
}

.account-form #close-form:hover{
    transform: rotate(90deg);
}

.account-form form {
    border: 0.1rem solid #4e65ff;
    padding: 2rem;
    display: none;
}

.account-form form.active{
    display: block;
}

.account-form form h3{
    font-size: 2.5rem;
    color: #444;
    padding-bottom: .5rem;
    text-transform: uppercase;
}

.account-form form .box{
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid cyan;
    font-size: 1rem;
    margin: .7rem 0;
}

.account-form form .flex{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.account-form form .flex label{
    font-size: 1rem;
    color: #777;
    margin-left: auto;
}

.account-form form .flex{
    text-decoration: underline;
    color: aqua;
}
.account-form .btn{
    width: 100%;
    height: 40px;
}


/* Image slider start */

.image-slider{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 400px;
    gap: 20px;
    background-color: #000000;
    
}
.left-arrow,
.right-arrow {
    position: absolute;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.left-arrow {
    left: 10px;
}
.right-arrow {
    right: 10px;
    transform: rotate(180deg);
}
.image-slider:hover .left-arrow,
.image-slider:hover .right-arrow {
    display: block;
}
.frame{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider{
    width: 100%;
    display: flex;
    transition: 1s ease;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.placement img{
    width: 100%;
}
.news{
    background-color: rgb(0, 0, 85);
    color: #fff;
}

/* About us section start */

.about-section-head { padding: 50px 0px 20px;}
.about-section-head .about-container { width: 1260px;}
.about-section-head p { color: #666d81;}

.about-left{
    box-sizing: border-box;
    padding: 30px 15px;
    position:relative;
    width: 650px;
    margin: 0 10px 5px 0;
}

.btn{
    display: inline-block;
    margin: 1rem 0 0 auto;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    background: linear-gradient(-135deg, #4570e7 0%, #79f1fc 100%);
    color: white;
    border-radius: 20px;
}

.about-right{
    box-sizing: border-box; padding: 10px 10px;
    position: relative; width: 550px;
    background-color: #f5f5f5;
}

.about-icon{
    display: table-cell;
    vertical-align: middle; 
    padding: 0px 10px;
}
.about-icon img{ width: 75px;}

.featured-content{
    display: table-cell;
    padding-left: 10px; line-height: 25px;
}

.box-hover:hover {
    background: linear-gradient(-135deg, #4570e7 0%, #79f1fc 100%);
    border-radius: 15px;
}
.box-hover p:hover{
    color: white; transition: all 1.5s linear;
}

/* Notice Section Start */
.notice-container{ box-sizing: border-box; margin: auto; width: 1110px; max-width: 100%;}

.notice-board{
    margin: auto; max-width: 500px; padding: 60px 4px;
}

.notice-heading{
    padding: 3.5px;
    background: linear-gradient(145deg, cyan 15%, #9600ff 90%);
    height: 50px;
    border-radius: 20px 20px 0 0;
}
.line span{ position: relative;}
.notice-board h4{
    font-size: 25px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}
.first-box, .second-box, .third-box{
    margin: 0px 10px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.5);
}
.third-box{
    margin: 0px 10px;
    height: 500px;
    background: #fff;
    padding-left: 5px;
    overflow: hidden;
}
.third-box marquee { height: 500px; }

.alert-box {
    width: 90%;
    margin: 20px auto;
    padding:5px 10px;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 10px 5px 5px 0px #ccc;
}
.alert-box a{
    font-weight: 400;
    font-size: 20px;
    color: #003afa;
    line-height: 30px;
    white-space: pre-wrap;
}
.simple-alert{
    border-left: 5px solid cyan; transition: 0.3 ease-in-out;
}
.simple-alert:hover{ transform: translate(0, 5px);}

fieldset{ border: 0;}
legend { font-size: 12px; padding: 0 5px; color: white; background: red; border-radius: 10px;}

@keyframes flash{
    0%, 50%, 100% { opacity: 1;}
    25%, 75% { opacity: 0;}
}

.flash{
    animation: flash 3s both infinite;
}



/* up coming events */
.upcoming-event-section{
    margin: auto;
    border: 2px solid; 
    width: 380px; height: 420px;
    box-sizing: border-box;
    background: #f5f5f5;
    border-image-slice: 1; 
    border-image-source: linear-gradient(145deg,pink, #9600ff 20%, cyan 80%, transparent);
}
.event-header{
    text-align: center;
    margin: 20px 0 10px; padding-bottom: 10px;
    position: relative;
}

.event-header h3{ font-size: 22px; font-weight: 400; line-height: 40px;
    margin-bottom: 0px;
}

.event-body{
    margin: 0px; padding: 0px;
}
.event-box{
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 0px;
    overflow: hidden;
    transition: 0.3s ease-out;
}
.event-box:hover{ transform: translate(0, 5px);}

.time-form{ 
    border: 1px solid cyan;
    box-sizing: border-box;
    color: cyan;
    float: left;
    margin: 0px;
    text-align: center;
    width: 48px;
}
.date{
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    margin: 15px 0px 0px;
}

.event-wrapper{
    box-sizing: border-box;
    float: right;
    position: relative;
    width: calc(100% - 66px);
}
.event-wrapper h5{
    font-size: 18px;
    margin: 10px 0px;
}
.event-wrapper a{ color: #333;}
.time{ font-size: 13px; font-weight: 700;
    text-transform: uppercase; display: inline-block; margin-left: 20px;
}

/* course section start */

.section-flex{ box-sizing: border-box; display: flex; flex-wrap: wrap; justify-content: center;}

.course-section { box-sizing: border-box; margin: auto; max-width: 100%; width: 950px; padding: 50px 0px; }

.course-box{ box-sizing: border-box; margin: 10px 20px; position: relative; width: 420px; background-color: #eeeff4; border-radius: 0 25px ; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 7px; } 

.course-head{ margin: 0 auto; position: relative; padding: 30px 25px 30px;}

.course-head h4{ color: #0300aa; font-size: 24px; margin-left: 30px; margin-bottom: 20px; }

.course-head li{ color: #072f60; font-size: 20px; line-height: 20px; margin: 10px 50px; font-weight: inherit;}

.course-head .button {

    background-color: #0300aa;
    font-size: 1.5rem;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    display: inline-block;
    padding: 2px 25px;
    text-decoration: none;
}

.course-head .button:hover{ transform: scale(0.95);}

.course-image img{
    float: right;
    position: relative;
    width: 360px;
    max-width: 100%;
    outline: 2px;
    overflow: hidden;
}

footer{
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer .content{
    max-width: 90%;
    margin: auto;
    padding: 30px 40px 30px;
}

footer .content .top{
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 50px ;
}

.content .top .logo-details{
    color: #fff;
    font-size: 30px
}

.content .top .media-icons a{
    color: #fff;
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: all 0.4s ease;
}
.media-icons a i{
    font-size: 2rem;
}

footer .content .link-boxes{
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content .link-boxes .box{
    width: calc(100%/5 -10px);
}

.link-boxes .box .link-name{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
    position: relative;
}

.link-boxes .box li {
    margin: 8px 0;
    list-style: none;
}

.link-boxes .box li a{
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.4s ease; display: block;
}


@media (max-width: 768px) {
    main {
        margin: 20px 30px;
    }
    .top_header{
        display: none;
    }

    .navlink {
        display: none;
    }
    .hamburg-links{
        display: block;
    }

    .about-us p {
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
    .image-slider{
        max-width: 100vw;
        max-height: 180px;
    }
}
